<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Авторизация</title>
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	</head>

	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>

	<link rel="stylesheet" href="css/login.css">

	<body style = "background: url(img/SilosLogin.jpg) no-repeat center center fixed; background-size: cover;" >
		<style>

		</style>
		<div id="app">
			<el-form ref="form" :model="form" label-position="top">
				<div class="form_auth_block">
					<div class="form_auth_block_content">
						<div class="form_auth_style">
							<p class="form_auth_block_head_text">Авторизация</p>
							<el-form-item 
								prop="login"
								:rules="[{ required: true, message: 'Обязательно для заполнения' }]">
								<el-input v-model="form.login" placeholder="Введите логин"> </el-input>
							</el-form-item>
							<el-form-item 
								prop="login"
								:rules="[{ required: true, message: 'Обязательно для заполнения' }]">
								<el-input v-model="form.password" type="password" placeholder="Введите пароль"> </el-input>
							</el-form-item>
							<el-button class="form_auth_button" type="primary" @click="doLogin">Войти</el-button>
						</div>
					</div>
				</div>
			</el-form>
		</div>
	</body>
  <script>
	var app = new Vue({
		el: '#app',
		data: {
			form : {
				login: null,
				password : "",
			},
		},
		methods: {
			doLogin() {
				var self = this;
				let notvalid = false;

				this.$refs.form.validate((valid) => {
					if (valid) {
						return true;
					}
					notvalid = true;
					return false;
				});

				if (notvalid) {
					this.$message({
						type: 'error',
						message: 'Не все обязательные поля заполнены!',
					});
					this.isSavingDialog = false;
					return false;
				}

				$.ajax({
					url: "api/account/login.php",
					data: {login: self.form.login, password: self.form.password},
					method: "post"
				}).done(function (data) {
					var json = $.parseJSON(data);
					console.log(json.id);
					if(json.id > 0)
					{
						window.location.href = "index.php"
					}else{
						self.$message({
							type: 'error',
							message: 'Неправильное сочетание логина и пароля!',
						});
					}
				}).fail(function () {
					self.$message({
						type: 'warning',
						message: 'Ошибка авторизации'
					});
				});
			}
		}
	})
  </script>
</html>